{% extends 'base.html' %}
{% block content %}


{% load static %}
<h2 class="text-center mt-3">Convertir DOCX a PDF</h2>
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col d-flex justify-content-center">
            <div class="card border border-danger mb-3" style="width: 22rem;">
                <div class="card-body border border-danger">
                    <h5 class="card-title">Convierta un documento PDF en formato Microsoft Word DOCX</h5>
                    <p class="card-text">Elija un documento con extensión .pdf y obtendrá un archivo con extensión .docx, podrá colocarle un título y autor.</p>
                    <a href="{% url 'convert_to_docx' %}" class="btn btn-danger d-flex justify-content-center">Comenzar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pt-4 pb-4">
        <a href="{% url 'documentos' %}" class="btn btn-secondary">Atrás</a>
    </div>
</div>

{% endblock %}